body {
    background-color: #eeeded;
    padding-top: 120px;
}
table { 
    margin-bottom: 0 !important;
}
.timeline>table {
    border: 0 !important;
}
    
.timeline th {
    margin: 0;
}
.timeline th, .timeline td {
    padding: 0 !important;
}
td.row-timeline {
    background-image: url(../images/timeline.gif); 
}
td.row-heading {
    width: 238px;
}
th.row-timeline-heading, td.row-timeline {
    width: 902px;
}
.top-margin-60 {
    margin-top: 60px;
}
.code-container {
    max-height: 400px;
    width: 100%;
    padding: 15px;
    font-family: 'Consolas';
    overflow-y: scroll;
}

.align-right {
    text-align: right;
}

.date {
    width: 30px;
    text-align: center;
    float: left;
    padding: 5px 0;
}

.day {
    font-size: 0.8em;
    display: block;
    font-variant: small-caps;
}

.home {
    /*height: 100%;*/
    padding: 8px;
}

td .home:after {
    content: "";
    float: right;
    background: url("../images/ic_expand_more_white_24dp_1x.png") no-repeat top right;
    width: 24px;
    height: 24px;
}

tr.expand td .home:after,
tr.expand .label-container:after {
    background: url("../images/ic_expand_less_white_24dp_1x.png") no-repeat top right;
}

th .home:after {
    content: "";
    float: right;
    background: url("../images/ic_expand_more_white_24dp_1x.png") no-repeat top right;
    width: 24px;
    height: 24px;
}

tr.expand th .home:after {
    background: url("../images/ic_expand_less_white_24dp_1x.png") no-repeat top right;
}

.bed {
    position: absolute;
    min-height: 36px;
    padding: 0;
}

.bed-label {
    display: none;
}
tr.expand td .home {
    display: none;
}
tr.expand .bed-label {
    display: block;
    padding: 8px;
}

tr.expand .bed {
    position: relative;
    margin-bottom: 1px;
}

.bookings-container {
    position: relative;
}

.booking {
    position: absolute;
    text-align: center;
    min-height: 36px;
    padding: 8px;
    margin-bottom: 1px;
}

.booking.booked {
    background-color: #DA4453;
    color: white;
}

.booking.requested {
    background-color: #F6BB42;
    color: #222;
}

.booking.in-use {
    background-color: #434A54;
    color: white;
}

.hover {
    background-color: #F8DDE0;
    background-image: url(../images/timeline-hover.gif);
}

.nav-btn {
    padding: 16px;
}
.btn-advance,
.btn-back {
    min-height: 24px;
}
.btn-advance {
    background: url("../images/ic_keyboard_arrow_right_white_24dp_2x.png") no-repeat center;
}
.btn-back {
    background: url("../images/ic_keyboard_arrow_left_white_24dp_2x.png") no-repeat center;
}
.centre {
    text-align: center;
}