/* Default */
.default {
    background-color: #f2f2f2;
    color: #222;
    /*border-top-color: #2E9E82 !important;*/
}
th.default,
td.default .bed {
    /*border-bottom-color: #2E9E82 !important;*/
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.default {
    background-image: url(../images/timeline-header.gif);
}
.first {
    border-left: 2px solid black;
}
.default .bed-label {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
}

/* Green */
.green {
    background-color: #298E75;
    color: white;
    border-top-color: #2E9E82 !important;
}
th.green,
td.green .bed {
    border-bottom-color: #2E9E82 !important;
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.green {
    background-image: url(../images/timeline-header-white.png);
}
.green .first {
    border-left: 2px solid white;
}
.green .bed-label {
    background-color: #2e9e82;
    border-bottom: 1px solid #2e9e82;
}
.green.timeline-nav {
    background-color: #2e9e82;
}

/* Blue */
.blue {
    background-color: #4A89DC;
    color: white;
    border-top-color: #659BE2 !important;
}
th.blue,
td.blue .bed {
    border-bottom-color: #659BE2 !important;
    border-bottom-width: 1px !important;
}
th.row-timeline-heading.blue {
    background-image: url(../images/timeline-header-white.png);
}
.blue .first {
    border-left: 2px solid white;
}
.blue .bed-label {
    background-color: #659BE2;
    border-bottom: 1px solid #659BE2;
}

.white {
    color: white;
}